@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.div{

    
    background-image: url("https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?t=st=1740665432~exp=1740669032~hmac=ce62f6c89fa7da05c842d44a6223ce5baccec26f101d404a93e450dc943d647c&w=996");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 15%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.btn {

    height:100px;
    
    width:100px;
    opacity: 0.7;
    
    background: url("yes.svg");
    background-size: 100%;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.btn:hover{
    opacity: 1;
}
.nobutton{
    opacity: 0.7;
    height:100px;
    
    width:100px;
    
    background: url("./no.svg");
    background-size: 100% 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    opacity: 0.9; margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.nobutton:hover{
    opacity: 1;
}

h2{
    font-family: "Dancing Script";
    font-size: 50px;
    
}
