@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.div{

    
    /* background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 50%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
      margin: auto;
    padding: 15%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto; */
    height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ffdde1, #ee9ca7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {

    height:100px;
    
    width:100px;
    opacity: 0.7;
    
    background: url("yes.svg");
    background-size: 100%;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.btn:hover{
    transform: scale(1.1);
    opacity: 1;
}
.nobutton{
    opacity: 0.7;
    height:100px;
    
    width:100px;
    
    background: url("./no.svg");
    background-size: 100% 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    opacity: 0.9; margin-right: 50px;
    font-size: large;
    font-weight: bold;
    font: Arial;
    border-radius: 20%;
    border: 0cap;
}
.nobutton:hover{
    transform: scale(0.9);
    opacity: 1;
}

h2{
    font-family: "Dancing Script";
    font-size: 50px;
    color: #4a0033;
  margin-bottom: 30px;
  max-width: 80%;    
}
button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}